@font-face {
    font-family: "Brickson";
    src: url("Fonts/BricksonFreeTrial-jEYAG.otf") format("truetype");
}

#upgradeimg
{
width: 25vw;
height: 17.5vh;
position: absolute;
left: 81%;
top: 15.1%;
cursor: pointer;
user-select: none; 
-webkit-user-drag: none;
z-index: 3;

}
#upgradeimg:active 
{
    transform: scale(0.98); /* “effet d'appui” */
}
#upgradeimg:hover
{
    filter: brightness(1.25); /* 1.0 = normal, 1.2 = 20% plus lumineux */
    cursor: pointer;         /* Change le curseur en main pour indiquer que c'est cliquable */
}
#upgradeimg:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.up1
{
    
    font-family: "serif";
    text-shadow: 1px 1px 0 black;
    font-weight: bold;
    font-size: 18px;
    width:100px;
    height: 50px; 
    color: white;
    display: flex;  
    position: fixed; 
    top: 23%;
    left: 90.5%;
    pointer-events: none;
    user-select: none; 
    -webkit-user-drag: none;
    z-index: 3;
}
#mini-cookie 
{
    position: fixed;
    width: 24px;
    height: 24px;
    top: 24.6%;
    left: 89%;
    user-select: none; 
    -webkit-user-drag: none;
    z-index: 3;

}
.titre1
{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px 0 black;
    width:1000px;
    height: 50px; 
    color: white;
    display: flex;  
    position: fixed; 
    top: 18%;
    left: 89%;
    pointer-events: none;
    user-select: none; 
    z-index: 3;

}

#nbupgrade1
{
    font-family: "Military";  
    font-weight: bolder;
    font-size: 60px;
    width:1000px;
    height: 50px; 
    color: rgba(0, 0, 0, 0.397);
    position: fixed; 
    top: 20%;
    left: 96%;
    pointer-events: none;
    user-select: none;
    z-index: 3;
}
#cat
{

    width:16%;
    height:16%; 
    color: white;
    display: flex;  
    position: fixed; 
    top: 15%;
    left: 78%;
    pointer-events: none;
    user-select: none; 
    z-index: 3;
    filter: brightness(0.25);
}
.fondcatplus
{
    z-index: 0;

}
#fondcat
{
    width:15%;
    height: 18%; 
    color: white;
    display: flex;  
    position: fixed; 
    top: 17.9%;
    left: 31.2%;
    pointer-events: none;
    user-select: none; 
    display: none;
}
#fondcat2
{
    width:15%;
    height: 18%; 
    color: white;
    display: flex;  
    position: fixed; 
    top: 17.9%;
    left: 46.22%;
    pointer-events: none;
    user-select: none; 
    display: none;
}
#fondcat3
{
    width:15%;
    height: 18%; 
    color: white;
    display: flex;  
    position: fixed; 
    top: 17.9%;
    left: 61.22%;
    pointer-events: none;
    user-select: none; 
    display: none;
}
#fondcat4
{
    width:15%;
    height: 18%; 
    color: white;
    display: flex;  
    position: fixed; 
    top: 17.9%;
    left: 76.22%;
    pointer-events: none;
    user-select: none; 
    display: none;
}
#woodcat
{
    width:77%;
    height: 15vh;
    color: white;
    display: flex;  
    position: fixed; 
    top: 26.9%;
    left: 20%;
    pointer-events: none;
    user-select: none; 
    display: none;
}


