.option {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

/* bloc image + texte */
.option-item {
    position: fixed; /* ICI */
    width: 20%;
    height: auto;   /* garde les proportions */
    display: block;
    -webkit-user-drag: none;

}
.option-item:hover
{
    transform: scale(1.02); /* effet de grossisemnt */
}

/* image */
.option-item img {
    width: 100%;     /* étirée en largeur */
    height: 19vh;    /* valeur AU CHOIX */
    display: block;
    z-index: 0 ;
    -webkit-user-drag: none;

}
/* texte PAR DESSUS l’image */
.option-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 0 black;
    z-index: 10;
}

/* fond sombre derrière */
.modal {
    display: none; 
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.6); /* Fond noir ransparent */
}

/* fenetre option */
.modal-content {
    background-color: #f3a33b; /* Couleur option*/
    border: 5px solid #8B4513; /* Bordure  */
    margin: 10% auto; /* Centré vert et hori */
    padding: 20px;
    width: 50%; /* Largeur*/
    text-align: center;
    font-family: 'Merriweather', serif;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
}

/*bouton X */
.fermer {
    color: #f8f7f7;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fermer:hover,
.fermer:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*éléments intérieur */
.contenu-options p {
    font-size: 20px;
    color: #180e06;
}

.btn-sauvegarder {
    background-color: #8B4513;
    color: white;
    border: none;
    padding: 10px 20px;
    font-family: 'Merriweather', serif;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
.modal-content h2 {
    color: #8B4513; 
    text-align: center;
    border-bottom: 2px solid #8B4513; 
    padding-bottom: 10px;
}

.option-1 {
    top: -4.6vh;
    left: 28.5%;
}
.option-2 {
    top: 5.8vh;
    left: 28.5%;
}

.option-3 {
    top: -4.6vh;
    left: 65.9%;
}

.option-4 {
    top: 5.8vh;
    left: 65.9%;
}

/*boutique*/
.boutique
{
cursor: pointer;
 user-select: none;
-webkit-user-drag: none;
}
#boutique1 {
    width: 10%;     
    height: 10%;
    left: 80.7%;
    top: 11.5%;
    display: flex;  
    position: fixed; 
    z-index: 3;
}
#boutique1:hover
{
    transform: scale(1.10); /*grossisemnt */
}
#boutique1:active
{
  transform: scale(0.9); /*dégrossisemnt */
}

.info-boutique {
    background-color: #000000;
    color: white;
    border: 5px solid #5a2c0b;
    padding: 10px 20px;
    font-family: 'Merriweather', serif;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    display: none; 
    width: 15%;
    top: 13.5%;  
    left: 75.4%;  /* Positionner près de #boutique1 */
    transform: translateX(-50%); /* Centrer horizontalement */
    z-index: 500;
}

h3 span {
    position: absolute;
    right: 15%;
    margin-right: 0px;
}
h3 img {
    width: 20px; /* taille de l'image */
    height: auto;
    vertical-align: top; /*alignée avec le texte */
    margin-right: 90px;

}

#boutique2 {
    width: 4%;     
    height: 6.6%;
    left: 86.7%;
    top: 13.3%;
    display: flex;  
    position: fixed; 
    z-index: 3;
    -webkit-user-drag: none;
}
#boutique2:hover
{
    transform: scale(1.10); /*grossisemnt */
}
#boutique2:active
{
  transform: scale(0.96); /*dégrossisemnt */
}