#upgradeimg3
{
width: 25vw;
height: 17.5vh;
position: absolute;
left: 81%;
top: 33.7%;
cursor: pointer;
user-select: none; 
-webkit-user-drag: none;
z-index: 3;
}

#upgradeimg3:active 
{
    transform: scale(0.97); /* “effet d'appui */
}
#upgradeimg3:hover
{
    filter: brightness(1.25); /* 1.0 = normal, 1.2 = 20% plus lumineux */
    cursor: pointer;         /* Change le curseur en main pour indiquer que c'est cliquable */
}

.up3
{
    font-family: "serif";
    text-shadow: 1px 1px 0 black;
    font-weight: bold;
    font-size: 18px;
    width:100px;
    height: 50px; 
    color: white;
    display: flex;  
    position: fixed; 
    top: 42.3%;
    left: 90.5%;
    pointer-events: none;
    user-select: none; 
    z-index: 3;


}
#chef
{
    width:12%;
    height:12%; 
    color: white;
    display: flex;      
    position: fixed; 
    top: 36%;
    left: 80%;
    pointer-events: none;
    user-select: none; 
    z-index: 3;
    filter: brightness(0.25);

}
#chefup
{
    pointer-events: none;
    user-select: none; 
    z-index: 100000;
}
#mini-cookie3
{
    position: fixed;
    width: 24px;
    height: 24px;
    top: 44%;
    left: 89%;
    user-select: none; 
    z-index: 3;

}
.titre3
{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px 0 black;
    width:1000px;
    height: 50px; 
    color: white;
    display: flex;  
    position: fixed; 
    top: 36.4%;
    left: 89%;
    pointer-events: none;
    user-select: none; 
    z-index: 3;

}
#nbupgrade3
{
    font-family: "Military";  
    font-weight: bolder;
    font-size: 60px;
    width:1000px;
    height: 50px; 
    color: rgba(0, 0, 0, 0.397);
    position: fixed; 
    top: 37.8%;
    left: 96%;
    pointer-events: none;
    user-select: none;
    z-index: 3;

}

.fondchefplus
{
    width:15%;
    height: 15%; 
    color: white;
    display: flex;  
    position: fixed; 
    top: 34%;
    left: 31.2%;
    display: none;
    pointer-events: none;
    user-select: none; 
    z-index: 0;
    
}
#fondchef
{
    width:15%;
    height: 15%; 
    display: flex;  
    position: fixed; 
    top: 50%;
    left: 31.2%;
}
#fondchef2
{
    width:15%;
    height: 15%; 
    display: flex;  
    position: fixed; 
    top: 50%;
    left: 46%;
}
#fondchef3
{
    width:15%;
    height: 15%; 
    display: flex;  
    position: fixed; 
    top: 50%;
    left: 60.9%;
}
#fondchef4
{
    width:15%;
    height: 15%; 
    display: flex;  
    position: fixed; 
    top: 50%;
    left: 75.8%;
}
#woodchef
{
    width:77%;
    height: 15vh;
    color: white;
    display: flex;  
    position: fixed; 
    top: 58%;
    left: 20%;
    pointer-events: none;
    user-select: none; 
    
}

/* ROI UP*/
.roi
{
    pointer-events: none;
    user-select: none; 
    -webkit-user-drag: none;
    
}
#roiimg
{
    width:10.5%;
    height:10.5%; 
    display: flex;      
    position: fixed; 
    top: 46.5%;
    left: 80.5%;
    z-index: 4;
    filter: brightness(0.25);
}
#upgradeimg4
{
width: 25vw;
height: 17.5vh;
position: absolute;
left: 81%;
top: 43.1%;
z-index: 3;
-webkit-user-drag: none;
}
#upgradeimg4:active 
{
    transform: scale(0.97); /* “effet d'appui */
}
#upgradeimg4:hover
{
    filter: brightness(1.25); /* 1.0 = normal, 1.2 = 20% plus lumineux */
    cursor: pointer;
}
.up4
{
    font-family: "serif";
    text-shadow: 1px 1px 0 black;
    font-weight: bold;
    font-size: 18px;
    width:100px;
    height: 50px; 
    color: white;
    display: flex;  
    position: fixed; 
    top: 51%;
    left: 90.5%;
    z-index: 4;
}
#roiup
{
    pointer-events: none;
    user-select: none; 
    display: none;
    z-index: 1;
}
#mini-cookie4
{
    position: fixed;
    width: 24px;
    height: 24px;
    top: 52.7%;
    left: 89%;
    user-select: none; 
    z-index: 4;

}
#titre4
{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px 0 black;
    width:1000px;
    height: 50px; 
    color: white;
    display: flex;  
    position: fixed; 
    top: 48%;
    left: 89.3%;
    z-index: 3;
}
#nbupgrade4
{
    font-family: "Military";  
    font-weight: bolder;
    font-size: 60px;
    width:1000px;
    height: 50px; 
    color: rgba(0, 0, 0, 0.397);
    position: fixed; 
    top: 47%;
    left: 96%;
    z-index: 3;

}
.fondroiplus
{
    width:15%;
    height: 15%; 
    color: white;
    display: flex;  
    position: fixed; 
    top: 34%;
    left: 31.2%;
    display: none;
    pointer-events: none;
    user-select: none; 
    z-index: 1;
    
}
#fondroi
{
    width:30%;
    height: 15%; 
    display: flex;  
    position: fixed; 
    top: 66%;
    left: 31.2%;
    z-index: 1;
}
#fondroi2
{
    width:30%;
    height: 15%; 
    display: flex;  
    position: fixed; 
    top: 66%;
    left: 58.2%;
    z-index: 1;
}
#woodroi
{
    width:77%;
    height: 15vh;
    color: white;
    display: flex;  
    position: fixed; 
    top: 73%;
    left: 20%;
    z-index: 1;
}